body{
    margin: 0px;
    padding: 0px;
}
#mega
{
    display: none;
    justify-content: center;
    background-color: aqua;
}
#mega li{
    margin: 20px;
    list-style-type: none;
}
#mega li a{
    text-decoration: none;
}
#img1
{
  height: 50px;
  width: 100px;
  border-radius: 10px;
  margin-left: -300px;
}
#firstlogo img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
#firstlogo{
    justify-content: center;
    display: flex;
    margin-top: 300px;
}